{
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "semi": false,
  "eslintIntegration": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": false,
  "proseWrap": "always"
}
